@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

@import "react-alice-carousel/lib/alice-carousel.css";

/* Your own custom utilities */

.has-text-align-left {
    @apply text-left;
}

.has-text-align-center {
    @apply text-center;
}

.has-text-align-right {
    @apply text-right;
}

.has-large-font-size {
    @apply text-4xl;
}

.alignfull {
    @apply w-screen relative;

    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    right: 50%;
}

.wp-block-image img {
    @apply max-w-full mt-2;
}

.wp-block-image.aligncenter {
    @apply text-center;
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
    @apply w-full;
}

.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
    @apply table ml-0 mr-0;
}

.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
    @apply table-caption;

    caption-side: bottom;
}

.wp-block-image .alignleft {
    @apply float-left mr-4;
}

.wp-block-image .alignright {
    @apply float-right ml-4;
}

.wp-block-image .aligncenter {
    @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
    @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
    @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
    @apply mr-4;
}

.wp-block-cover {
    @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

    min-height: 430px;
}

.wp-block-verse {
    @apply font-sans;
}

.wp-block-media-text {
    @apply grid grid-cols-2 gap-4;
}


/* page text */
.page-text p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.page-title {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.page-text h2 {
    font-size: 1.8rem;
}

.page-text h3 {
    font-size: 1.6rem;
}

.page-text h4 {
    font-size: 1.3rem;
}


/* nav */
#navWrapperMain {
    font-size: 1.05rem !important;
}

#navWrapperSub {
    font-size: 1.05rem !important;
}


/* funds */
.btn-card h3 {
    font-weight: normal;
}

/* file library */
.file-library-content h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

.file-library-content ul li {
    margin: 8px 16px;
}

.file-library-content ul li a, .file-library-item-group .file-library-item {
    background: transparent url( "/images/icons/download.png" ) no-repeat .5rem .5rem;
    background-size: 22px;
    display: block;
    padding: 3px 10px 3px 40px;
}

/* accordion */
.Collapsible {
    box-shadow: 0 0 1rem 0 #ccc;
    padding: 1rem;
    margin: 1rem auto;
}

.Collapsible__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(75, 85, 99, 1);
}

.Collapsible__trigger.is-open svg {
    transform: rotate(180deg);
}

.Collapsible__contentInner {
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
}
